<h3>Who are we?</h3>
<p>
  CodePlumbing is Edinburgh's leading plumbing company, we specialise in fitting taps, toilets, showers and baths.  We have good supplier connections to make sure we can always get you value for your money.  We have been providing plumbing services for 20 years and have won lothian plumber of the year 4 times during this period.
</p>

<h3>What do our clients think of us?</h3>
<p class='quote'>
  "CodePlumbing fitted our shower for us, no problems at all, very happy with the quality of work and they installed it for a brilliant price." - Mr. Barnaby Jones
</p>
<p class='quote'>
  "After our pipes burst on Christmas Eve were very worried but CodePlumbing came round promptly and had the issue sorted in an afternoon.  Thanks to them Christmas was saved." - Mrs. Grace Ryan
</p>
<p class='quote'>
  "We have been using CodePlumbing as a contractor for years, they are very professional." - Mr. Stan
</p>
<p class='quote'>
  "I am very happy with the work CodePlumbing have done for us, they helped us fit our new shower and have done a really good job." - Mr. Wendell T. Stamps
</p>
<p class='quote'>
  "Having had a cowboy plumber in leaving our bathroom in a bad state we were extremley with the work CodePLumbing did, they really are a brilliant company." - Mr. Arthur Watley
</p>
<p class='quote'>
  "After The Xtacles managed to break the tap in the bathroom CodePlumbing came in and sorted it for us, they worked very fast and the finish is brilliant." - Mr. Xander Crews
</p>

<!-- <form action='/search' method="get">
  <input type='text' name='option'>
  <button>go!</button>
</form> -->