<div class="services">
  <div class="service">
    <h2>Baths</h2>
    <img src="/Bath.png">
    <p>We have both minimalistic and modern baths that we can install for you. quotes start from £200</p>
  </div>
</div>