<div class="services">
  <div class="service">
    <h2>Showers</h2>
    <img src="/Shower.png">
    <p>Whether electric or mixer showers we will have the perfect shower for you. quotes start from £150</p>
  </div>  
</div>