<div class="services">
  <div class="service">
    <h2>Taps</h2>
    <img src="/Tap.png">
    <p>We install all kinds of taps and can offer discounts on a range of models. quotes start from £50</p>
  </div>  
</div>