<div class="services"> 
  <div class="service">
    <h2>Toilets</h2>
    <img src="/Toilet.png">
    <p>Using our supplier discounts we can get you the best price on a new toilet and fit it for you. quotes start from £90</p>
  </div>  
</div>