<!DOCTYPE html>
<html>
<head>
  <title>PlumbingApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <form action="/search" method="get">
      <input type="text" name="option">
      <button>Search</button>
    </form>
    <h1>CodePlumbing</h1>
    <a href="/contact_us">Contact Us</a>
    <a href="/services">Services</a>
    <a href="/">Home</a>
  </div>
<%= yield %>

</body>
</html>
